*~
ac-comphist.dat
auto-save-list
bookmarks
*.elc
eshell
image-dired*
site-lisp/setup-personal.el
places
recentf
savehist
saveplace
session.*
.smex-items
tramp
url
projectile*
/skewer-cache/
/history
transient/
/lsp-cache/
/.lsp-session-v1
/.cache/
/eln-cache/
/tree-sitter/
/elpaca/
